<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>730</integer>
	<key>capHeight</key>
	<integer>692</integer>
	<key>copyright</key>
	<string>Copyright © 2019 by Abel Martins and Joana Correia. All rights reserved.</string>
	<key>descender</key>
	<integer>-208</integer>
	<key>familyName</key>
	<string>Loretta</string>
	<key>guidelines</key>
	<array>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>447</integer>
			<key>y</key>
			<integer>712</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>x</key>
			<integer>-72</integer>
			<key>y</key>
			<integer>-233</integer>
		</dict>
	</array>
	<key>openTypeHeadCreated</key>
	<string>2022/07/27 10:53:48</string>
	<key>openTypeHheaAscender</key>
	<integer>920</integer>
	<key>openTypeHheaDescender</key>
	<integer>-240</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeNameDesigner</key>
	<string>Abel Martins and Joana Correia</string>
	<key>openTypeNameDesignerURL</key>
	<string>https://novatypefoundry.com/</string>
	<key>openTypeNameManufacturer</key>
	<string>Nova Type Foundry</string>
	<key>openTypeNameManufacturerURL</key>
	<string>https://novatypefoundry.com/</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Bold Display</string>
	<key>openTypeOS2CodePageRanges</key>
	<array/>
	<key>openTypeOS2Type</key>
	<array>
		<integer>2</integer>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>920</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-240</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2VendorID</key>
	<string>NVTF</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>1080</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>240</integer>
	<key>postscriptBlueScale</key>
	<real>0.05</real>
	<key>postscriptBlueValues</key>
	<array>
		<real>-16.0</real>
		<real>0.0</real>
		<real>490.0</real>
		<real>510.0</real>
		<real>692.0</real>
		<real>708.0</real>
		<real>730.0</real>
		<real>746.0</real>
	</array>
	<key>postscriptFontName</key>
	<string>Loretta-BdDisplay</string>
	<key>postscriptOtherBlues</key>
	<array>
		<real>-224.0</real>
		<real>-208.0</real>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<real>55.0</real>
		<real>60.0</real>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<real>167.0</real>
		<real>173.0</real>
	</array>
	<key>styleMapFamilyName</key>
	<string>Loretta Bold Display</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Bold Display</string>
	<key>trademark</key>
	<string>Loretta is a trademark of Nova Type Foundry.</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>5</integer>
	<key>xHeight</key>
	<integer>490</integer>
</dict>
</plist>
